<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/style.css" rel="stylesheet">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      color: #333;
      padding: 20px;
    }

    textarea {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      resize: vertical;
      /* The user can resize the textarea vertically */
    }

    h1 {
      color: #4a4a4a;
      text-align: center;
    }

    form {
      background-color: #ffffff;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="text"] {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
    }

    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 20px 0;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    hr {
      border-top: 1px solid #ccc;
      margin: 20px 0;
    }

    p {
      line-height: 1.5;
    }
  </style>
</head>


<body>
  <h1>This is : <%= text %>
  </h1>
  <form action="/blog" method="post">
    <label>Name : <input type="text" name="author" value="">
    </label>
    <!-- <label> -->
    <!--   <p>Content :</p> <input style="display: inline; width: 40em; height: 20em;" type="text" name="content"> -->
    <!-- </label> -->
    <label>
      <p>Content :</p>
      <textarea name="content" rows="4" cols="50"></textarea>
    </label>

    <button style="display: block;" type="submit">Submit</button>

  </form>

  <hr>
  <% for ( i=0; i< posts.length; i++) {%>
    <p>Author : <%=posts[i].author%>
    </p>
    <p>Date : <%= posts[i].date%>
    </p>
    <p>
      <%=posts[i].content%>
    </p>
    <form action="/blog/delete/<%=i%>" method="post">
      <button type="submit">Delete Post</button>

    </form>
    <hr>

    <% } %>
</body>

</html>
